@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Inter:wght@400;500;600&display=swap");

body, .appMount_c99875 {
  background: var(--background) !important;
  background-image: var(--wallpaper) !important;
  background-size: cover !important;
  background-position: center !important;
}

.app_de4237, .container__2637a, .chat_f75fb0, .members_c8ffbb, .sidebar_c48ade {
  background: var(--background) !important;
  backdrop-filter: blur(var(--blur));
  border: var(--border-thickness) solid var(--border);
  border-radius: var(--border-radius);
}

.messageContent_f9f2ca, .markup_f9f2ca {
  font-family: var(--font-chat) !important;
}

* {
  font-family: var(--font-primary), sans-serif;
}

.button_f67531, .lookFilled-yCfaCM {
  background-color: var(--accent) !important;
  border-radius: var(--border-radius);
}
.button_f67531:hover, .lookFilled-yCfaCM:hover {
  background-color: var(--accent-hover) !important;
}

.wrapper_ef3116 {
  background-color: var(--background);
  border: var(--border-thickness) solid var(--border);
  border-radius: var(--border-radius);
}

.container__2637a {
  border: var(--border-thickness) solid var(--border);
}

.members_c8ffbb {
  border: var(--border-thickness) solid var(--border);
}

.chatContent_f75fb0 {
  border: var(--border-thickness) solid var(--border);
}