@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@600;700&display=swap');

/* Base styling */
body {
  font-family: Inter, sans-serif;
  color: #e0e0e6;
  background-color: #1e1e2f;
}
